<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Annoy Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="./style.css" />
  <link rel="icon" href="./favicon.ico" type="image/gif" sizes="16x16">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
  html,
  body {
    height: 100%;
  }

  .global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
  }

  form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
  }

  .card-title {
    font-weight: 300;
  }

  .card-subtitle {
    font-weight: 150;
    color: #53545C;
  }

  .btn {
    font-size: 14px;
    margin-top: 20px;
  }


  .login-form {
    width: 330px;
    margin: 20px;
  }

  .sign-up {
    text-align: center;
    padding: 20px 0 0;
  }

  .alert {
    margin-bottom: -30px;
    font-size: 13px;
    margin-top: 20px;
  }

  .custom-range {
    border: none;
  }
</style>

<body>
  {{{body}}}
</body>

</html>